.Xauthority
.bash_history
.cache/
.cargo/
.config/Bitwarden CLI/
.config/JetBrains/
.config/Notepadqq/
.config/Postman/
.config/QtProject.conf
.config/Raspberry Pi/
.config/TIPP10/
.config/VSCodium/
.config/alacritty/themes/
.config/bpytop/
.config/btop/
.config/cmus/
.config/dconf/
.config/fontconfig/
.config/gh/
.config/github-copilot/
.config/glow/
.config/htop/
.config/i3status/uptime-data
.config/jgit/
.config/mimeapps.list
.config/mutt/
.config/neofetch/
.config/nordvpn/
.config/pavucontrol.ini
.config/pgcli/
.config/phototonic/
.config/pnpm/
.config/pulse/
.config/spotify/
.config/tenacity/
.config/vlc/
.eclipse/
.gnupg/
.irssi/
.java/
.jbr/
.kotlinc_history
.lesshst
.local/
.m2/
.mozilla/
.npm/
.pki/
.psql_history
.screenlayout/
.sonarlint/
.ssh/
.swt/
.tmux.conf_backup
.vim/
.viminfo
.vscode-oss/
.wget-hsts
.zen/
.zsh_history
.zsh_history_old
Documents/
Downloads/
Ohio BMV - Online Services.pdf
audio/
aur/
dotfiles/
isos/
notes/
pictures/
projects/
readme
roms/
scripts/
temp/
test.txt
tmp_logs/
videos/

.config/ncspot/userstate.cbor
.config/qBittorrent

.backups
.config/alacritty/alacritty-theme
.bashrc
.config/i3status/power-profile
