image=pictures/backgrounds/river-blur.png
clock
indicator
datestr=%F
font=3270 Nerd Font Mono
grace=1
grace-no-mouse
grace-no-touch
indicator-radius=100
effect-vignette=.1:.9
indicator-thickness=5
inside-color=00000000
inside-clear-color=00000000
inside-wrong-color=00000000
inside-ver-color=00000000
text-color=ffffff
text-clear-color=ffffff
text-ver-color=ffffff
text-wrong-color=ff0000
key-hl-color=ffffff
ring-clear-color=ffffff
bs-hl-color=ffffff
text-clear=cleared
text-ver=verifying
text-wrong=wrong
