include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "startup.kdl"
include "animations.kdl"
include "overview.kdl"
include "rules.kdl"
include "binds.kdl"

//include "opaque.kdl"
include "wallpaper.kdl"
include "transparent.kdl"
//include "wallpaper-secondary.kdl"
