input {
    keyboard {
        xkb {
            layout "us"
            variant "dvorak"
        }
        
        // Enable numlock on startup, omitting this setting disables it.
        numlock

        // keypress repeat
        repeat-delay 200
        repeat-rate 25
    }

    touchpad {
        // off
        tap
        dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
       	// Remap middle click to left click on touchpad
        click-method "button-areas"
        middle-emulation
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    touch {
       off
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="0%"

    disable-power-key-handling
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 8000
}

gestures {
    hot-corners {
        off
    }
}
