// ## spawn daemons
// start waybar
spawn-at-startup "waybar"
//spawn-sh-at-startup "waybar-wrapper.sh"

// start workspace wallpaper daemon
//spawn-at-startup "swww-daemon"
// start overview wallpaper daemon
//spawn-at-startup "swaybg" "-m" "fill" "-i" "/home/match/pictures/backgrounds/river-blur.png"

// start screen temp daemon
spawn-at-startup "wlsunset" "-l" "40" "-L" "-83"

// ## xwayland-satellite (enables screen sharing/recording)
xwayland-satellite {
    // off
    path "xwayland-satellite"
}

// ## environment variables
environment {
    // qt darkmode
    QT_QPA_PLATFORMTHEME "qt5ct"
    QT_STYLE_OVERRIDE "Fusion"

    // intellij display fix
    _JAVA_AWT_WM_NONREPARENTING "1"
}

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/pictures/screenshots/screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}
