spawn-at-startup "swww-daemon"
spawn-at-startup "swaybg" "-m" "fill" "-i" "/home/match/pictures/backgrounds/.sic/secondary-blur.png"
spawn-at-startup "/home/match/scripts/wallpaper.sh" ".sic/secondary.png"
