/*
window.background.csd headerbar.titlebar {
    min-height: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    border: none;
    display: none;
}

window.background.csd headerbar.titlebar * {
    min-height: 0;
    max-height: 0;
    min-width: 0;
    max-width: 0;
}
*/
